# Define mpdecision device
type device_latency, dev_type;

type bluetooth_device, dev_type;
type mfc_device, dev_type;

# Added for PWR QOS devices
type pwr_device, dev_type;
